{% extends '::base.html.twig' %}

{% block main_content %}
    <h2>Votre panier</h2>
    
    <table>
    {% for cartItem in cart.cartItems %}
        <tr>
        
            <td><img src="{{ asset('img/Couvertures/'~cartItem.book.cover) }}" alt="{{ cartItem.book.title}}" title="{{ cartItem.book.title}}" width=70px height=100px/></td>

             <td>{{ cartItem.book.title}}</td>

            <td><a href="{{ path('bdloc_app_cart_deleteitem',{id: cartItem.id})}}" title="retirer du panier">Retirer du panier</a></td>
        </tr>     
           
    {% endfor %}
    </table>
              <a href="{{ path('bdloc_app_cart_validcart',{id:cart.id}) }}" title="Valider ce panier">Valider ce panier !</a><br/><br/><br/>
              
            <a href="{{ path('bdloc_app_book_allbooks', {'page':1, 'nombreParPage': 12, 'direction': 'ASC', 'entity': 'dateCreated'})}}" title="Retour au catalogue">Continuer à bouquiner</a>

   
{% endblock %}


