{% extends '::base.html.twig' %}

{% block main_content %}
   
  	<fieldset>
        <legend>Liste des bds</legend>
    </fieldset>

    {% for cartItem in cart.cartItems %}
            {{ cartItem.book.title}}<br/>
          
            <img src="{{ asset('img/Couvertures/'~cartItem.book.cover) }}" alt="{{ cartItem.book.title}}" title="{{ cartItem.book.title}}" width=70px height=100px/><br/>
    {% endfor %}

     <a href="{{ path('bdloc_app_cart_validcart',{id:cart.id,user:cart.user.id})}}" title="Confirmation commande"><span class="glyphicon glyphicon-chevron-left"></span>Retour à la page confirmation de ma commande !</a><br/><br/><br/>

{% endblock %}