bookController lignes 83 à 89 :

/*  $userRepo = $this->getDoctrine()->getRepository("BdlocAppBundle:User");
      $user = $this->getUser();

      $cartRepo = $this->getDoctrine()->getRepository("BdlocAppBundle:Cart");
      $cart = $cartRepo->findOneBy(
             array('user'=>$user,'status'=>"courant")
    );*/

    + ligne 94 :  //  $params['cart'] = $cart;


catalogue.twig lignes 76 à 99 :

{#{% if(book.stock == 1) %}
                            <form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">

                                <button type="submit" class="btn btn-panier" id="ajouter">{{ render(controller('BdlocAppBundle:Cart:textButton', {id:book.id}))}}</button>

                            </form>

                        {% else %}

                            {% if(cart) %}
                                {% for cartItem in cart.cartItems %}
                                    {% if(cartItem.book.id == book.id) %}
                                        <form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">

                                        {<button type="submit" class="btn btn-panier-in" id="dansvotrepanier" disabled="disabled" >{{ render(controller('BdlocAppBundle:Cart:textButton', {id:book.id}))}}</button>
                                        </form>
                                    {% endif %}

                                {% endfor %}

                            {% endif %}

                        
                    {% endif %} #}

details.twig lignes 36 à 61 :

{#{% if(book.stock == 1) %}
            <form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">

                <button type="submit" class="btn btn-panier-detail">{{ render(controller('BdlocAppBundle:Cart:textButton', {id:book.id}))}}</button>

            </form>

        {% else %}

            {% if(cart) %}

                {% for cartItem in cart.cartItems %}

                    {% if(cartItem.book.id == book.id) %} 
                        <form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">
                        
                            <button type="submit" class="btn btn-panier-detail- in" id="dansvotrepanier" disabled="disabled" >{{ render(controller('BdlocAppBundle:Cart:textButton', {id:book.id}))}}</button>
                        </form>         

                    {% endif %} 

                {% endfor %}

            {% endif %} 

        {% endif %}#}   



textButton.twig lignes 1 à 14 :

{#{% if book.stock == 1 %}

    {{ 'Ajouter au panier' }}

{% elseif cartItem == 1 %}

    {{ 'Dans votre panier' }}

{% else %}

    {{ 'Bd indisponible' }}


{% endif %}#}