



    <a href="{{ path('bdloc_app_cart_validcart',{id:cart.id,user:cart.user.id})}}" title="Valider ce panier">Valider ce panier !</a><br/><br/><br/>

     {{ cart.user.id}}<br/>

     $fines = $fineRepo->findBy(
            array('user_id' => '$user'),
            array('status' => 'a payer')
        ); 
<a href="{{ path('bdloc_app_cart_payfines',{user:fine.user.id})}}" title="Payer une amende">Amende payée !</a><br/><br/><br/>

$fines = $fineRepo->findByUser($user);

foreach($fine as $fines){
         $fine->setStatus("paye");
        };

$cart->setDateDelivery(DATE_ADD(dateCreated, INTERVAL 15 DAY));
$dateDelivery=date(strtotime($dateCreated,'+ 15 days'));

{% for cartItem in cart.cartItems %}
            {{ cartItem.book.title}}<br/>
    {% endfor %}

  $dql = "SELECT SUM (fines->amount) AS montant FROM fine" .
       "WHERE user_id=$user";
    $montant = $em->createQuery($dql)
              
              ->getSingleScalarResult();   

 $fineRepo->montant   ; 


  /* $itemNum=0;

        for ($i=0;$i<count($cart);$i++){

        $itemNum=$itemNum + 1;
            
        };*/

  {% include '::cart/countItem.html.twig' %}     



     /**
     * @Route("/panier/quantite/{cart}")
     * 
     */

     public function CountItemAction($cart){

        



        

        $cartItemRepo = $this->getDoctrine()->getRepository("BdlocAppBundle:CartItem");
      
        $cartItems = $cartItemRepo->findBy(
             array('cart'=>$cart)
            
        );

        $num=count($cartItems);
        /*echo($num);
        die();*/
        
        $params = array (
            "cart"     => $cart,
            "num"   =>$num,
            'cartItem' => $cartItems,
        

        
        );

          


       return $this->render("cart/countItem.html.twig",$params);

        
     }

 }
 
  /**
     *
     * @Route("/panier/{id}")
     */
    public function findCartAction($id)

    {
        $params = array();

        $cartRepo = $this->getDoctrine()->getRepository("BdlocAppBundle:Cart");
      

        $cart = $cartRepo->findBy(
            array('id'=>$id,'status'=>"")
         );   
        $params = array (
            "cart" => $cart,
        
        );
        /*print_r($cart);
        die();*/

        return $this->render("cart/cart.html.twig",$params);
    }

    {{ path('bdloc_app_cart_findcart', {'id':app.user.id}) }}