{% extends '::base.html.twig' %}

{% block main_content %}

	
	<fieldset>
        <legend>Confirmation de votre commande</legend>
    </fieldset>


    Nombre de bds commandées : {{cart.cartItems|length}}

    <a href="{{ path('bdloc_app_cart_seelist',{id:cart.id}) }}" title="Voir la liste">Voir la liste</a><br/><br/>

    Date de livraison estimée : {{cart.dateDelivery|date('d/m/Y' )}}<br/><br/>

    Au point-relais : {{user.dropSpot.name}} , {{user.dropSpot.adress}}

    <a href="{{ path('bdloc_app_user_updatedropspot', {'id':app.user.id}) }}" title="Changer de point-relais">Changer de point-relais</a><br/>

    <a href="{{ path('bdloc_app_cart_validorder',{id:cart.id}) }}" title="Valider ma commande">Valider ma commande</a>


{% endblock %}