<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />

        <link rel="stylesheet" type="text/css" href="{{ asset('css/shop-homepage.css') }}" >
        <!-- Respomsive slider -->
        <link href="../css/responsive-slider.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    </head>

    <body>
<div class="container">
    <!-- HEADER -->
    <header id="header">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('bdloc_app_default_home') }}">
                        <img alt="Brand" src="{{ asset('img/logo.png') }}">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="navbar-left">
                        <li>
                            <a href="{{ path('bdloc_app_book_allbooks', {'page':1, 'nombreParPage': 12, 'direction': 'ASC', 'entity': 'dateCreated'}) }}">Les BDs</a>
                        </li>
                        <li>
                        {% if app.user %}
                            <a href="{{ path('bdloc_app_user_viewprofile', {'id':app.user.id}) }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mon Compte</a>
                        {% endif %}
                        </li>
                        <li>
                        {% if app.user %}
                            <a href="{{ path('bdloc_app_cart_findcart', {'id':app.user.id}) }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mon panier</a>
                        {% endif %}
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="navbar-right">
                        {% if app.user %} Bonjour {{ app.user.username }} !
                            <a href="{{ path('logout') }}" title="Déconnectez-vous">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Déconnexion </a>
                        {% else %}Bonjour Invité !
                        <a href="{{ path('bdloc_app_security_login') }}" title="Connectez-vous">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Connexion </a>
                        <a href="{{ path('bdloc_app_user_register') }}" title="Inscription">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Abonnement</a>

                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>
    <!-- END HEADER -->

    {% block header %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flashMessage }}
            </div>
    {% endfor %}

    {% endblock %}

    <!-- MAIN_CONTENT-->

    <div class="container">
        <div class="row">
            {% block main_content %}{% endblock %}
        </div>
    </div>

    <!-- END MAIN_CONTENT -->

    <!-- FOOTER -->
        <footer id="footer">
            <div class="container" >
                <div class="row">
                    <div class="col-xs-12" id="copy">
                    {% block footer %}
                        <div >
                        <p>BDloc.fr - Copyright ©2014 | <a href="#" title="CGV">Conditions générales de vente</a></p>

                        </div>
                    {% endblock %}
                    </div>
                </div>
            </div>
        </footer>
    <!-- END FOOTER -->
</div>


        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            <script src="{{ asset('js/jquery.event.move.js') }}"></script>
            <script src="{{ asset('js/responsive-slider.js') }}"></script>
        {% endblock %}
    </body>
</html>
