<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
    {% if app.user %}
            Bonjour {{ app.user.username }} !
            <a href="{{ path('logout') }}" title="Déconnectez-vous">Déconnexion</a>
        {% else %}
            Bonjour bel inconnu !
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flashMessage }}
            </div>
    {% endfor %}

        {% block header %}
            {% block menu %}

                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">
                        <img alt="Brand" src="...">
                      </a>
                    </div>
                  </div>
                </nav>

            {% endblock %}
        {% endblock %}


        {% block main_content %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
