<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" />
       
        <link rel="stylesheet" type="text/css" href="{{ asset('css/shop-homepage.css') }}" >
        <!-- Respomsive slider -->
        <link href="../css/responsive-slider.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
    </head>

    <body>
    
    <!-- HEADER -->
    <header id="header">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('bdloc_app_default_home') }}">
                        <img alt="Brand" src="{{ asset('img/logo.png') }}">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav" id="navbar-left">
                        <li>
                            <a href="{{ path('bdloc_app_book_allbooks', {'page':1}) }}">Les BDs</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mon Compte</a>
                        </li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mon panier</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="navbar-right">
                        {% if app.user %} Bonjour {{ app.user.username }} !
                            <a href="{{ path('logout') }}" title="Déconnectez-vous">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Déconnexion</a>
                        {% else %}Bonjour bel inconnu !
                        <a href="{{ path('bdloc_app_security_login') }}" title="Connectez-vous">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Connexion</a> 
                        <a href="{{ path('bdloc_app_user_register') }}" title="Inscription">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> S'inscrire</a>
                        {% endif %}         
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>
    <!-- END HEADER -->

    {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flashMessage }}
            </div>
    {% endfor %}

        {% block header %}
            {% block menu %}

    <!-- MAIN_CONTENT-->
    <div class="container">

        <div class="row">
                {% block main_content %}{% endblock %}
            </div>
        </div>
    </main>
    <!-- END MAIN_CONTENT -->
    
    <!-- FOOTER -->
        <footer id="footer">
            <div class="row">
                <div class="col-xs-12">
                {% block footer %} 
                    <p id="copy">BDloc.fr - Copyright ©2014</p>
                {% endblock %}
                </div>
            </div>
        </footer>
    <!-- END FOOTER -->

        

        {% block javascripts %}
            <script src="../js/jquery.js"></script>
            <script src="../js/jquery.event.move.js"></script>
            <script src="../js/responsive-slider.js"></script>
        {% endblock %}
    </body>
</html>
