{% extends '::base.html.twig' %}

{% block title %}Catalogue | Bdloc{% endblock %}

{% block main_content %}

<!--J'affiche les formulaires de recherche & de filtre-->
<div class="row">

	<!--Pagination -->
	<div class="col-xs-12  col-md-10 col-lg-12">

		    	<div id="icon-position" class="position-r">

		          	 <!-- J'affiche page précédente, sauf si on se trouve sur la première page -->
		          	{% if page > 1 %}
				    <a class="pagination" href="{{ path('bdloc_app_book_allbooks', {'page': page-1, 'nombreParPage': nombreParPage, 'direction': direction, 'entity': entity}) }}"><span class="glyphicon glyphicon-chevron-left"></span>Page précédente </a>
					{% endif %}

		          	<!-- J'affiche page suivante, sauf si on se trouve sur la dernière page -->
		          	{% if page < nombrePage %}

					<a class="pagination" href="{{ path('bdloc_app_book_allbooks', {'page': page+1, 'nombreParPage': nombreParPage, 'direction': direction, 'entity': entity}) }}"> Page suivante<span class="glyphicon glyphicon-chevron-right"></span></a>
					{% endif %}
				</div>
	</div>
	<!--Fin de Pagination -->


  		<div class="col-md-3">
			<!-- Filtre de recherche -->
			<div id="formsearch" class="formsearch ">
				{{ form(bookSearchForm) }}
			</div>

			<div class="pointiller"></div>

			<!--Filtre categories-->
			<div id="formfilter">
				{{ form(bookFilterForm) }}
			</div>
		</div>


		<div class="col-md-9">

			<!-- Affichage des BDs -->
			{% for book in books %}


			<div class="thumbnail">
			<!-- Affichage l'image -->
			<a href="{{ path('bdloc_app_book_details', {id: book.id}) }}">
				<img src="{{ asset('img/Couvertures/Couvertures/' ~ book.cover ~ '') }}" alt="{{ book.title }}" class="catalogue_img" />
			</a>

				<div class="caption">
					<!-- Affichage le titre -->
					<h1><a href="{{ path('bdloc_app_book_details', {id: book.id}) }}">{{ book.title | truncate(35, false, '...')}}</a></h1>

					<!-- Affichage l'auteur -->
					<p class="texte-rouge">{{ book.illustrator.firstName }} {{ book.illustrator.lastName }}</p>


					<div class="pointiller"></div>

					<!-- Affichage le detail -->
					<p><a href="{{ path('bdloc_app_book_details', {id: book.id}) }}" class="texte-noir" >Afficher plus de détails !</a></p>
					<!-- Affichage du stock -->

					<h6>{{ render(controller('BdlocAppBundle:Cart:stock', {id:book.id}))}}</h6>

					<!-- Bouton Ajouter au panier -->

					{% if app.user %}
						{% if(book.stock == 1) %}
							<form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">

								<button type="submit" class="btn btn-panier" id="ajouter">{{ render(controller('BdlocAppBundle:Cart:textButton', {id:book.id}))}}</button>

							</form>

						{% else %}

							{% if(cart) %}
					  			{% for cartItem in cart.cartItems %}
									{% if(cartItem.book.id == book.id) %}
										<form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">

										{<button type="submit" class="btn btn-panier-in" id="dansvotrepanier" disabled="disabled" >{{ render(controller('BdlocAppBundle:Cart:textButton', {id:book.id}))}}</button>
										</form>
									{% endif %}

								{% endfor %}

							{% endif %}


						{# {% endfor %}#}
					{% endif %}

					{% endif %}

				</div>
			</div>

			{% endfor %}

		</div>
	</div>
	<!--fin Affichage des BDs -->



	<!--Pagination -->
	<div class="col-xs-12  col-md-10 col-lg-12">

		    	<div id="icon-position" class="position-r">

		          	 <!-- J'affiche page précédente, sauf si on se trouve sur la première page -->
		          	{% if page > 1 %}
				    <a class="pagination" href="{{ path('bdloc_app_book_allbooks', {'page': page-1, 'nombreParPage': nombreParPage, 'direction': direction, 'entity': entity}) }}"><span class="glyphicon glyphicon-chevron-left"></span>Page précédente </a>
					{% endif %}

		          	<!-- J'affiche page suivante, sauf si on se trouve sur la dernière page -->
		          	{% if page < nombrePage %}

					<a class="pagination" href="{{ path('bdloc_app_book_allbooks', {'page': page+1, 'nombreParPage': nombreParPage, 'direction': direction, 'entity': entity}) }}"> Page suivante<span class="glyphicon glyphicon-chevron-right"></span></a>
					{% endif %}
				</div>
	</div>
	<!--Fin de Pagination -->


</div>
<!-- /.container -->
{% endblock %}