{% extends '::base.html.twig' %}

{% block title %}Details | Bdloc{% endblock %}


{% block main_content %}


<div id="details" class="detail">
	<div class="row">

	  	<div class="col-xs-12 col-md-12">

		<div class="row">
			<div class="col-xs-12 col-md-3">
		<img src="{{ asset('img/Couvertures/' ~ book.cover ~ '') }}" alt="{{ book.title }}" class="img-responsive">
			</div>
		<div class="col-xs-12 col-md-9 detail-txt">
		<h1>{{ book.title }}</h1>
		<p>Catégorie : {{ book.serie.style }}</p>
		<p>Nombre de page : {{ book.pages }}</p>

		<div class="pointiller"></div>

		<p>Illustrateur : {{ book.illustrator.firstName }} {{ book.illustrator.lastName }}</p>
		<p>scénariste : {{ book.scenarist.firstName }} {{ book.scenarist.lastName }}</p>
		<p>coloriste : {{ book.colorist.firstName }} {{ book.colorist.lastName }}</p>
		<p>Publiée par : {{ book.publisher }}</p>

		<div class="pointiller"></div>


		<h3 class="texte-rouge">{{ book.stock }} en stock !</h3>
		<!-- Bouton Ajouter au panier -->

			{{ render(controller('BdlocAppBundle:Cart:textButton', {id:book.id}))}}
		

		</div> 
		</div>
	</div>
</div>


{% endblock %}
