{% extends "::base.html.twig" %}

{% block main_content %}


	<div id="etape" class="row">
	<div class="col-md-12 col-md-offset-1 col-lg-10 col-lg-offset-2">

	  <div class="col-sm-4 col-md-3">
	    <div class="etape-active">COORDONNEES</div>
	    <div class="parallelogram-active"></div>
	  </div>

	  <div class="col-sm-4 col-md-3">
	    <div class="etape-active">LIVRAISON</div>
	    <div class="parallelogram-active"></div>
	  </div>

	  <div class="col-sm-4 col-md-3">
	    <div class="etape-active">PAIEMENT</div>
	    <div class="parallelogram-active"></div>
	  </div>
	  </div>
	</div>


<fieldset>
	<legend>Entrez vos informations de paiement</legend>
</fieldset>

<div class="col-md-6">
	<div class="form-group">
        <div class="col-md-12 ">

			{{ form_start(creditCardForm) }}

				{{ form_label(creditCardForm.subscription) }}
				{{ form_widget(creditCardForm.subscription, {'attr':{'class': 'form-control'}}) }}

				{{ form_label(creditCardForm.paypalId) }}
				{{ form_widget(creditCardForm.paypalId, {'attr':{'class': 'form-control'}}) }}

				{{ form_label(creditCardForm.ownerIdentity) }}
				{{ form_widget(creditCardForm.ownerIdentity, {'attr':{'class': 'form-control '}}) }}

				<label>Date d'Expiration</label>
				{{ form_widget(creditCardForm.validUntil.month, {'attr':{'class': 'form-control widgetpose '}}) }}
				{{ form_widget(creditCardForm.validUntil.year, {'attr':{'class': 'form-control widgetpose'}}) }}

				{{ form_label(creditCardForm.creditCardType) }}
				{{ form_widget(creditCardForm.creditCardType, {'attr':{'class': 'form-control carte'}}) }}

				{{ form_label(creditCardForm.cryptoCard) }}
				{{ form_widget(creditCardForm.cryptoCard, {'attr':{'class': 'form-control crypto'}}) }}

				{{ form_widget(creditCardForm.submit, {'attr':{'class': 'btn red-button btn-default-red'}}) }}

			{{ form_end(creditCardForm) }}

		</div>
	</div>
</div>

<div class="col-md-6 ">
     <div class="col-md-6 col-md-offset-2">
        <img alt="mistery" src="{{ asset('img/bd-perso/mistery.jpg') }}"></a>
     </div>
 </div>

{% endblock %}
{% block javascripts %}{% endblock %}