{% extends "::base.html.twig" %}


{% block main_content %}

<fieldset>
<legend>Mon compte utilisateur BDLOC !</legend>
</fieldset>

<div class="col-md-6">
    <div class="form-group">
        <div class="col-md-12 profile">
            <p>Compte créé le : {{ user.dateCreated|date('d-m-Y') }}</p>
            <p>Dernière modification le : {{ user.dateModified|date('d-m-Y' ~ ' à ' ~ 'H:m:s') }}</p>

            <p>Type d'Abonnement : {{ subscription }}</p>

            <fieldset>
                <legend>Informations personnelles</legend>
            </fieldset>

                <p>Pseudo : {{ user.username }}</p>
                <p>Prenom : {{ user.firstName }}</p>
                <p>Nom : {{ user.lastName }}</p>
                <p>Adresse postale : {{ user.adress }}</p>
                <p>Adresse mail : {{ user.email }}</p>
                <p>Telephone : {{ user.phone }}</p>


            <a href="{{ path('bdloc_app_user_updateprofile', {'id':app.user.id}) }}">Modifier mes informations personnelles</a><br>
            <a href="{{ path('bdloc_app_user_updatepassword', {'id':app.user.id}) }}">Modifier mon mot de passe</a><br><br>

                 <p>Votre point relais favori : {{ user.dropSpot.fullAdress }}</p>
            <a href="{{ path('bdloc_app_user_updatedropspot', {'id':app.user.id}) }}">Modifier mon point relais</a><br>


            <br>
            <fieldset>
                <legend>Informations de paiement</legend>
            </fieldset>
            <a href="{{ path('bdloc_app_user_updatecreditcard', {'id':app.user.id}) }}">Modifier mes informations de paiment</a><br><br>
            <fieldset>
                <legend>Mes commandes</legend>
            </fieldset>

            {% if carts %}
            <a href="{{ path('bdloc_app_user_rentalhistory', {'id':app.user.id}) }}">Consulter mon historique de location</a><br><br>
            {% else %} <p>Pas encore de commandes</p>
            {% endif %}

            <fieldset>
                <legend>Mes amendes en cours</legend>
            </fieldset>
             {% if fines %}
            <a href="{{ path('bdloc_app_user_viewfines') }}">Payer une amende</a><br><br>

            {% else %} <p>Vous n'avez aucune amende à payer</p>
            {% endif %}

            <form action="{{ path('bdloc_app_user_quitbdloc') }}">
                <input type="submit" value="Me désabonner" class="btn red-button btn-default-red">
            </form>
        </div>
    </div>
</div>
<div class="col-md-6 ">
     <div class="col-md-6 col-md-offset-2">
        <img alt="batman" src="{{ asset('img/bd-perso/batman2.jpg') }}"></a>
     </div>
 </div>
{% endblock %}